image:
  name: joflucki/graphpp
  entrypoint:
    ["/bin/bash", "-c", "ln  -snf  /bin/bash  /bin/sh  &&  /bin/bash  -c  $0"]

stages:
  - build
  # - test
  - documentation

build:
  stage: build
  script:
    - su
    # Print/Check version of software
    - qmake6 --version
    - make --version
    # Navigate to sources directory
    - cd sources/Graphpp
    # Change path in all *.pro files to match Linux
    - find . -type f -name "*.pro" -print0 | xargs -0 sed -i 's/Lib\/debug/Lib\//g'
    - cat App/App.pro
    # Build the project
    - qmake6
    - make

# test:
#   stage: test
#   script:
#     - su
#     # Print/Check version of software
#     - qmake6 --version
#     - make --version
#     # Navigate to sources directory
#     - cd sources/Graphpp/Tests
#     # Change path in all *.pro files to match Linux
#     - find . -type f -name "*.pro" -print0 | xargs -0 sed -i 's/Lib\/debug/Lib\//g'
#     # Build the project
#     - qmake6
#     - make
#     # Run single test file (TODO: Run all test files)
#     - ./Tests/BasicGraphTest/BasicGraphTest

documentation:
  stage: documentation
  artifacts:
    untracked: false
    when: on_success
    expire_in: "30 days"
    paths:
      - docs/html
      - docs/latex
  script:
    # Print/Check version of software
    - doxygen --version
    # Generate sources
    - doxygen
