image:
  name: joflucki/graphpp
  entrypoint:
    ["/bin/bash", "-c", "ln  -snf  /bin/bash  /bin/sh  &&  /bin/bash  -c  $0"]

stages:
  - build
  - test
  - documentation

build-lib:
  stage: build
  artifacts:
    name: "Library files"
    untracked: false
    when: on_success
    expire_in: "30 days"
    paths:
      - sources/Graphpp/Lib
  script:
    # Print/Check version of software
    - qmake6 --version
    - make --version
    # Navigate to sources directory
    - cd sources/Graphpp/
    # Change path in all *.pro files to match Linux
    - find . -type f -name "*.pro" -print0 | xargs -0 sed -i 's/Lib\/debug/Lib\//g'
    - cd Lib
    # Build the project
    - qmake6
    - make

build-app:
  stage: build
  dependencies:
    - build-lib
  artifacts:
    name: "App Linux executable"
    untracked: false
    when: on_success
    expire_in: "30 days"
    paths:
      - sources/Graphpp/App/App
  script:
    # Navigate to sources directory
    - cd sources/Graphpp
    - ls ./App
    - ls ./Lib
    - ls ../
    - ls .
    - find / -type d -name 'Lib'
    # Change path in all *.pro files to match Linux
    - find . -type f -name "*.pro" -print0 | xargs -0 sed -i 's/Lib\/debug/Lib\//g'
    - cd App
    # Build the project
    - qmake6
    - make

build-tests:
  stage: build
  dependencies:
    - build-lib
  artifacts:
    name: "Test files"
    untracked: false
    when: on_success
    expire_in: "30 days"
    paths:
      - sources/Graphpp/Tests
  script:
    # Navigate to sources directory
    - cd sources/Graphpp
    # Change path in all *.pro files to match Linux
    - find . -type f -name "*.pro" -print0 | xargs -0 sed -i 's/Lib\/debug/Lib\//g'
    - cd Tests
    # Build the project
    - qmake6
    - make

test:
  stage: test
  dependencies:
    - build-tests
  script:
    # Navigate to sources directory
    - cd sources/Graphpp/Tests
    # Run test files (TODO: Scan for executables automatically)
    - ./Tests/BasicGraphTest/BasicGraphTest

documentation:
  stage: documentation
  artifacts:
    name: "Project documentation"
    untracked: false
    when: on_success
    expire_in: "30 days"
    paths:
      - docs/html
      - docs/latex
  script:
    # Print/Check version of software
    - doxygen --version
    # Generate sources
    - doxygen
