image:
  name: joflucki/graphpp
  entrypoint:
    ["/bin/bash", "-c", "ln  -snf  /bin/bash  /bin/sh  &&  /bin/bash  -c  $0"]

stages:
  # - build
  - test
  - document

# build:
#   stage: build
#   script:
#     - su
#     # Print/Check version of software
#     - qmake6 --version
#     - make --version
#     # Navigate to sources directory
#     - cd sources/Graphpp
#     # Change path in all *.pro files to match Linux
#     - find . -type f -print0 | xargs -0 sed -i 's/Lib\/debug/Lib/g' *.pro
#     # Build the project
#     - /bin/sh
#     - qmake6
#     - cat Makefile
#     - make

test:
  stage: test
  script:
    - su
    # Print/Check version of software
    - qmake6 --version
    - make --version
    # Navigate to sources directory
    - cd sources/Graphpp/Tests
    # Change path in all *.pro files to match Linux
    - find . -type f -print0 | xargs -0 sed -i 's/Lib\/debug/Lib/g' *.pro
    # Build the project
    - qmake6
    - cat Makefile
    - make
    # Run single test file (TODO: Run all test files)
    - ./Tests/BasicGraphTest/BasicGraphTest

doc:
  stage: document
  script:
    # Print/Check version of software
    - doxygen--version
    # Generate sources
    - doxygen
