stages:
  - test

test-job:
  stage: test
  image:
    name: joflucki/graphpp
    entrypoint:
      ["/bin/bash", "-c", "ln  -snf  /bin/bash  /bin/sh  &&  /bin/bash  -c  $0"]
  tags:
    - docker
  script: echo "https://hub.docker.com/r/vookimedlo/ubuntu-qt"
