stages:
  - test

test-job:
  stage: test
  image:
    name: joflucki/graphpp
  script:
    # Print/Check version of software
    - qmake6 --version
    - make --version
    # Navigate to sources directory
    - cd sources/Graphpp
    # Change path in all *.pro files to match Linux
    - find . -type f -print0 | xargs -0 sed -i 's/\/debug//g' *.pro
    # Build the project
    - qmake6 .
    - make
    # Run single test file (TODO: Run all test files)
    - ./Tests/BasicGraphTest/BasicGraphTest
