stages:
  - test
  - build

test:
  stage: test
  image:
    name: joflucki/graphpp
    entrypoint:
      ["/bin/bash", "-c", "ln  -snf  /bin/bash  /bin/sh  &&  /bin/bash  -c  $0"]
  tags:
    - docker
  needs: ["build"]
  script: echo "https://hub.docker.com/r/vookimedlo/ubuntu-qt"

build:
  stage: build
  needs: [test]
  image:
    name: joflucki/graphpp
    entrypoint:
      ["/bin/bash", "-c", "ln  -snf  /bin/bash  /bin/sh  &&  /bin/bash  -c  $0"]
  tags:
    - docker
  script:
    - echo "To update"
  artifacts:
    paths:
      - mybinary
