image:
  name: joflucki/graphpp
  entrypoint:
    ["/bin/bash", "-c", "ln  -snf  /bin/bash  /bin/sh  &&  /bin/bash  -c  $0"]


stages:
  - Build
  - Test
  - Documentation

build-GUI:
  stage: Build
  script:
    # Print/Check version of software
    - qmake6 --version
    - make --version
    # Navigate to sources directory
    - cd sources/Graphpp/
    # Change path in all *.pro files to match Linux
    - find . -type f -name "*.pro" -print0 | xargs -0 sed -i 's/Lib\/debug/Lib\//g'
    # Build the project
    - qmake6
    - make


test:
  stage: Test
  artifacts:
    name: "Test results"
    untracked: false
    when: on_success
    expire_in: "30 days"
    paths:
      - sources/Graphpp/Tests/*/*.xml
  script:
    # Print/Check version of software
    - qmake6 --version
    - make --version
    # Navigate to sources directory
    - cd sources/Graphpp/
    # Change path in all *.pro files to match Linux ("Lib/Debug" becomes "Lib")
    - find . -type f -name "*.pro" -print0 | xargs -0 sed -i 's/Lib\/debug/Lib\//g'
    # Build the Lib
    - cd Lib
    - qmake6
    - make
    # Build the tests
    - cd ../Tests
    - qmake6
    - make
    # Run all tests and export to XML
    - find . -type f ! -name "*.*" -executable -exec ./{} -perf -vb -o {}.xml -xml \;

documentation:
  stage: Documentation
  artifacts:
    name: "Project documentation"
    untracked: false
    when: on_success
    expire_in: "30 days"
    paths:
      - docs/html
      - docs/latex
  script:
    # Print/Check version of software
    - doxygen --version
    # Generate sources
    - doxygen
    - cd docs/latex
    - make
