image: joflucki/graphpp

build:
  stage: build
  image:
    name: dahanna/ubuntu-libc
    entrypoint:
      ["/bin/bash", "-c", "ln -snf /bin/bash /bin/sh && /bin/bash -c $0"]
  tags:
    - docker
  script:
    - echo "To update"
  artifacts:
    paths:
      - mybinary

test:
  stage: test
  image:
    name: dahanna/ubuntu-libc
    entrypoint:
      ["/bin/bash", "-c", "ln -snf /bin/bash /bin/sh && /bin/bash -c $0"]
  tags:
    - docker
  needs: ["build"]
  script: echo "https://hub.docker.com/r/vookimedlo/ubuntu-qt"

deploy:
  stage: deploy
  image:
    name: dahanna/ubuntu-libc
    entrypoint:
      ["/bin/bash", "-c", "ln -snf /bin/bash /bin/sh && /bin/bash -c $0"]
  tags:
    - docker
  needs: ["test"]
  script: echo "https://gitlab.com/kosadev/example-gitlab-ci-cd-for-qt-project"
  environment: production
